# Dependencies
node_modules
.pnpm-store

# Production build
dist
build

# Environment variables
.env
.env.local
.env.*.local

# IDE & OS files
.DS_Store
Thumbs.db
.vscode
.idea
*.log

# Local Netlify folder
.netlify

faceless_tiktok_engine.js
b2b_email_engine.js
output_Costco_Hot_Dog.mp4
